@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-Vindo</h1>
    <p>Ao sistema gerenciador de imovéis para locação da <a href="https://pris.com.br/">Pris</a>.</p>
</div>
